In [ ]:
    ######  Que 1  #######

In [ ]:
Q.1. Create two int type variables, apply addition, subtraction, division and multiplications
and store the results in variables. Then print the data in the following format by calling the
variables:
First variable is __ & second variable is __.
Addition: __ + __ = __
Subtraction: __ - __ = __
Multiplication: __ * __ = __
Division: __ / __ = __

In [20]:
a = int(input("First variable is : "))
b = int(input("and second variable is : "))
add = a + b
print(f"Addition : {a}+{b} = ",add)
sub = a - b
print(f"Subtraction : {a}-{b} = ",sub)
mul = a * b
print(f"Multiplication  : {a}*{b} = ",mul)
div = a / b
print(f"Division : {a}/{b} = ",div)

First variable is : 7
and second variable is : 4
Addition : 7+4 =  11
Subtraction : 7-4 =  3
Multiplication  : 7*4 =  28
Division : 7/4 =  1.75

In [ ]:
    ######  Que 2  #######

In [ ]:
Q.2. What is the difference between the following operators:
(i) ‘/’ & ‘//’
(ii) ‘**’ & ‘^’

In [3]:
(i)‘/’ & ‘//’
a = int(input("First variable is : "))
b = int(input(" and second variable is : "))
div = a / b     #  The output of this operator is always a quotient with a float datatype.
print(f"Division : ",div)
div1 = a // b   #  The output of this operator will be the quotient rounded off to the closest whole number.
print(f"Division1 : ",div1)

First variable is : 5
 and second variable is : 2
Division :  2.5
Division1 :  2

In [ ]:
(ii)‘**’ & ‘^’
 ‘**’ :The double- asterisks (**) work as an exponentiation operator.
 ‘^’  :This is bitwise XOR.
       The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set 
       to 0

In [22]:
2**6   # exponentiation

64

In [23]:
6^3    # bitwise XOR

5

In [ ]:
     ######  Que 3   #######

In [ ]:
Q.3. List the logical operators.

In [ ]:
In Python there are three logical operators.
    1. And Operator
    2. Or Operator
    3. Not Operator
logical operators carry out logical operations and return Boolean values based on the result. 
1.and operator
true and true = true
true and false =false
false and false =false
Examples:

In [7]:
# and operator true and true = true
n = 6 
n > 5 and n < 10

True

In [8]:
# and operator true and false = false
n = 6
n < 5 and n < 10

False

In [9]:
# and operator false and false = false
n = 6
n < 5 and n < 3

False

In [ ]:
2. or operator
true or true = true
true or false =true
false or false =false
Examples:

In [10]:
# or operator false or true = true
n = 10
n < 5 or n < 15

True

In [11]:
# or operator false or false = false
n = 10
n < 5 or n < 7

False

In [13]:
# or operator true or true = true
n = 10
n > 4 or n > 7

True

In [ ]:
3. not operator
not true = false
not false = true
Examples:

In [14]:
#  not operator not true = false
n =5
n>6

False

In [15]:
#  not operator not false = true
n =5
n<6

True

In [ ]:
      ######  Que 4  #######

In [ ]:
Q.4. Explain right shift operator and left shift operator with examples.

In [ ]:
Right shift operator:
    The left operand’s value is moved toward right by the number of bits specified by the right operand.

In [16]:
a = 10      #      10= 0000 1010 (Binary)
a >> 1      #   shifting right by 1 place = 0000 0101 = 5

5

In [ ]:
Left shift operator:
     The left operand’s value is moved toward left by the number of bits specified by the right operand.

In [17]:
a = 10      #      10= 0000 1010 (Binary)
a << 1      #   shifting left by 1 place = 0001 0100 = 20

20

In [ ]:
      ######  Que 5  #######

In [ ]:
Q.5. Create a list containing int type data of length 15. Then write a code to check if 10 is
present in the list or not.

In [21]:
list=[1,2,3,4,5,6,7,8,9,12,43,45,10,17,23]
for i in list:
    if(i == 10):
        print(f"10 is present in the list !!!!!!")

10 is present in the list !!!!!!